extends layout

block content 
  div(class='major-feeling') 
    h1 BRIEF REVERSE-CHRONOLOGICAL BIO TO MAKE YOU FEEL LIKE YOU'VE TRAVELED IN TIME
  div(class='content-block')  
    ul
      li
        | #[strong 2015 - present]: I work as a developer at a major retailer. My hobbies include writing, buying books, and not hiking. 
      li
        | #[strong 2014]: I move to Seattle to attend #[a(href='http://www.adadevelopersacademy.org') Ada Developers Academy].
      li
        |#[strong 2009 - 2014]: I live in Washington, DC or Baltimore. I work in social media, and then I work at #[a(href='http://transformerdc.org/') a non-profit alternative art space]. I slowly realize that pretty much everything is mostly networking, which hurts my feelings.
      li
        | #[strong 2007 - 2009]: I win #[a(href='http://shansi.org/fellowships/') a fellowship] and live in a suburb of Tokyo. I grow tired of soy sauce, which is strange because I've eaten it my entire life.
      li
        | #[strong 2003 - 2007]: I attend #[a(href='https://home.oberlin.edu/') a liberal arts college], with the prescience that Future Me can respond to someone who hasn't heard of my school with "Oh, you don't watch #[em Girls]?
      li 
        | #[strong 1991 - 2003]: I am a wallflower growing near the Blue Ridge Mountains. 
      li
        | #[strong 1985]: I am born in the USA. 
    
      p 
        #[a(href='https://docs.google.com/document/d/1vzsLparbOOw4BcZlLupmM0oX_iH_Krt0UgQIb8A_WMg/edit?usp=sharing') art cv], #[a(href='http://blog.stephaniekwak.com/assets/skwak-resume.pdf') resume]. 
      
      p
        contact: #[a(href='mailto:sk@stephaniekwak.com') sk@stephaniekwak.com]
        
      p
        #[a(href='http://blog.stephaniekwak.com') tekblog] / #[a(href='https://www.twitter.com/kwakstop') @kwakstop] / #[a(href='http://www.instagram.com/phantomkwak') instagram] / #[a(href='http://phantomwifi.tumblr.com') tumblr].
