extends layout

block content 
  h1 about
  
  h2 brief bio to make you feel like you've traveled in time:
  ul(class="time-machine-bio")
    li
      | #[strong 2015 - present]: I work as a developer at Nordstrom. My hobbies include writing, buying books, and not hiking. 
    li
      | #[strong 2014]: I move to Seattle to attend #[a(href='http://www.adadevelopersacademy.org') Ada Developers Academy].
    li
      |#[strong 2009 - 2014]: I live in Washington, DC or Baltimore. I work in social media, and then I work at #[a(href='http://transformerdc.org/') a non-profit alternative art space]. I slowly realize that pretty much everything is mostly networking, which hurts my feelings.
    li
      | #[strong 2007 - 2009]: I win #[a(href='http://shansi.org/fellowships/') a fellowship] and live in a suburb of Tokyo. I grow tired of soy sauce, which is strange because I've eaten it my entire life.
    li
      | #[strong 2003 - 2007]: I attend #[a(href='https://home.oberlin.edu/') a liberal arts college], with the prescience that Future Me can respond to someone who hasn't heard of my school with "Oh, you don't watch #[em Girls]?
    li 
      | #[strong 1991 - 2003]: I am a wallflower growing near the Blue Ridge Mountains. 
    li
      | #[strong 1985]: I am born in the USA. 
      
  p find me elsewhere: 
      #[a(href='http://blog.stephaniekwak.com') tekblog] / #[a(href='https://www.twitter.com/kwakstop') @kwakstop] / #[a(href='http://www.instagram.com/phantomkwak') instagram] / #[a(href='http://phantomwifi.tumblr.com') tumblr]

  
  h2 things I made and am in:
  p not prolific, but the pace is quickening as I realize I will not live forever
  p there are more things, but these are what stand out most in my head
  ul
    ul(class='art-resume') 2016
      li
        img(src='img/rags/leste.jpg' class='rags')
        p
          #[a(href='http://lestemag.bigcartel.com/product/leste-issue-1') leste magazine, Issue 1] (poem)
    ul(class='art-resume') 2015 
      li
        img(src='/img/rags/my_pace.jpg' class='rags')
        p
          #[a(href='http://rodandconepress.tumblr.com/post/128670662821/biannual-comics-anthology-debuts-in-two-weeks') MY PACE, a Rod & Cone anthology] (writing/poetry?)    
    ul(class='art-resume') 2014
      li
        p I am not the low-key standout, but I come close.
                | https://www.washingtonpost.com/entertainment/museums/in-the-galleries-louloudi-sway-two-architects--design-atmosphere/2014/04/24/5f60d0fc-c919-11e3-b81a-6fff56bc591e_story.html
          #[a(href='http://www.washingtoncitypaper.com/blogs/artsdesk/visual-arts/2014/04/07/local-artists-interpret-beijing-in-transformers-atmosphere/') Washington City Paper review]
    ul(class='art-resume') 2013
      li
        img(src='img/rags/city_structures.jpg' class='rags')
        p
          #[a(href='http://www.sophiegrimes.com/city-structures/') city structures] by sophie grimes | (illustrations)
        
