extends layout

block content
  h1 world of skwak
  nav
    ul
      li 
        a(href='about.html') about
      li
        a(href='safari.html') safari
      li
        a(href='writing.html') poems?
        
  div    
    p the world is so concrete and so abstract
    p it's unbearable
    
    p surfing the web is like exploring a dream; it might not mean anything, but the residue lingers & lingers
  
