extends layout

block content  
  div(class='major-feeling')    
    h1(class='index-major-font') SURFING THE WEB IS LIKE EXPLORING A DREAM. IT MIGHT NOT MEAN ANYTHING IMMEDIATELY, BUT THE RESIDUE LINGERS & LINGERS.
  
