extends layout

block content
  div(class='major-feeling')
    h1(class='index-major-font') SURFING THE WEB IS LIKE EXPLORING A DREAM. IT MIGHT NOT MEAN ANYTHING IMMEDIATELY, BUT THE RESIDUE LINGERS & LINGERS.

  div(class='content-block')
    p
      ul
        li
          | I work in software and spend a lot of time indoors.
        li
          | My body, which they tell me is stardust (as is yours) but does not feel as cosmic,
          has lived in rectangular dwellings in places that include the Pacific Northwest, Tokyo,
          the US mid-atlantic, and southwestern Virginia.
        li
          | My digital possessions include a #[a(href='http://tinyletter.com/skwak') TinyLetter newsletter], an #[a(href='https://www.instagram.com/phantomkwak/') Instagram account], a #[a(href='http://twitter.com/kwakstop') Twitter account], and an #[a(href='mailto:sk@stephaniekwak.com') email account]. I possess more digital objects, but this website is my carry-on and not yet a closet. It probably will never become a closet, but you never know.
        li
          | A couple of items for your mind's eye image of my selfhood:
          ul
            li #[a(href='https://s3-us-west-2.amazonaws.com/stephaniekwak.com/writing/machinelife.pdf') machinelife]
            li #[a(href='http://www.beautifulspam.email') beautiful spam]
