extends layout

block content 
  h1 poems
  ol 
    h2 table of contents
    li looking at someone as a conspiracy theory
    li finger quotes
    li networking event
    
  pre looking at someone as a conspiracy theory
  
  pre words jammed like fruit flies between finger quotes, 
      | falling to the floor in soft clumps like hair when the finger quotes are over
      | rubbing my eyes, as disaster has passed
      
  pre networking event
      | how-to guide on how to keep to yourself that you’re a restless weird person at the networking event:
      ul
        li keep pushing on
        li keep pushing on
        li keep pushing on
        li keep pushing on
        li keep pushing on
        li keep pushing on
        li keep pushing on
        li keep pushing on
        li keep pushing on
        li keep pushing on

      
  
