extends layout

block content
  div(class='major-feeling')
    h1 Every day is a safari. Every day you are being colonized by images, and every day you are colonizing some images, as well.
  div(class='visual-block')
    iframe(src='http://newhive.com/e/54f3c022067d7b79869344dc?' class='visuals-img new-hive')
    img(src='img/safari/baltimore-bread.jpg' class='visuals-img')
    img(src='img/safari/computerinthemirror.png' class='visuals-img')
    img(src='img/safari/float.gif' class='visuals-img')
    img(src='img/safari/baltimore-haus.jpg' class='visuals-img')
    img(src='img/safari/dc-smoke.jpg' class='visuals-img')
    img(src='img/safari/artery.jpg' class='visuals-img')
    img(src='img/safari/biological-tetris.jpg' visuals='visuals-img')
    img(src='img/safari/figuringitout.jpg' class='visuals-img')
    img(src='img/safari/deathcomp.jpg' class='visuals-img')
