extends layout

block content 
  div(class='major-feeling')
    h1 I first started to draw pictures, but then I realized I was drawing words.
    
  div(class='content-block')
    h2 bad people
    img(src='img/poem_pix/badpeople.png' class='poem-pix')

    h2 eye contact
    img(src='img/poem_pix/eye1.png' class='poem-pix')
    img(src='img/poem_pix/eye2.png' class='poem-pix')
    img(src='img/poem_pix/eye3.png' class='poem-pix')
    img(src='img/poem_pix/eye4.png' class='poem-pix')
    img(src='img/poem_pix/eye5.png' class='poem-pix')

    h2 hole in the wall
    img(src='img/poem_pix/office.png' class='poem-pix') 
    img(src='img/poem_pix/remember.png' class='poem-pix')

    div(class='major-feeling') 
      a(href='http://leaves-of-spam.herokuapp.com/')
        | Sometimes I wonder if I made the words or if the words made me. 
      | I am currently writing and designing a poetry chapbook, so please stay tuned to this non-existent radio station.
