@import '_settings'

normalize-css()
base()

body
  margin: 0
  color: #656a6b

nav
  margin-left: 1%

h1
  color: #c8c8c8
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black
  font-family: Consolas, Courier, monospace

.front-text
  color: #fff
  //background: linear-gradient(330deg, #ffe402 0%, #0f64ff 25%, #78b87f 50%, #ffe402 75%, #e05252 100%)
  //-webkit-background-clip: text
  //-webkit-text-fill-color: transparent
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
  font-family: Consolas, Courier, monospace
  font-size: 2.7em
  font-style: italic
  text-decoration: underline
  font-weight: bold
  line-height: 1em
  margin-left: 1em
  margin-right: 1em

p.front-text
  padding: 1em

a
  text-decoration: none
  font-weight: bold
  color: #2b2e2e

.content-block
  width: 80%
  padding-left: 2%
  padding-bottom: 2%

li
  margin: 1em

.art-resume
  list-style-type: none

.poem-pix
  width: 40%

.rags
  width: 30%

.header
  background-image: url('../img/decor/aura4.gif')
  background-repeat: repeat-x

.old-computer
  padding-top: 10%
  height: 20em
