@import '_settings'

normalize-css()
base()

body
  margin: 0
  color: #656a6b

h1
  color: #c8c8c8
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black
  //text-decoration: underline
  //text-decoration-color: #4dd9d4
  font-family: Consolas, Courier, monospace

a
  text-decoration: none
  font-weight: bold
  color: #2b2e2e

.content-block
  width: 80%
  padding-left: 2%
  padding-bottom: 2%

//.time-machine-bio
  //width: 50%

//.time-machine-bio li
  //padding-bottom: .5em
li
  margin: 1em

.art-resume
  list-style-type: none

.poem-pix
  width: 40%

.rags
  width: 30%

.header
  background-image: url('../img/decor/aura4.gif')
  background-repeat: repeat-x

.old-computer
  padding-top: 10%
  height: 20em
